<div class="container">
  <div class="col-sm-12">
    <nav class="navbar navbar-expand-sm fixed-top navbar-transparent  " color-on-scroll="400">
        <!-- Brand -->
        <a class="navbar-brand" href="#" style="color: rgb(214, 214, 24);font-style: italic;font-family: cursive;">harish's portfolio</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"  >
          <span class="navbar-toggler-icon" ><i class="fas fa-bars" style="color: rgb(243, 239, 232);"></i></span>
        </button>
         
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#home" routerLinkActive="list-item-active" style="color: black;font-weight: 800;"><i class="fas fa-home" style="color: rgb(209, 212, 16);"></i>&nbsp;Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about" routerLinkActive="list-item-active" style="color: rgb(5, 5, 5);font-weight: 800;"> <i class="fas fa-address-card"  style="color: rgb(209, 212, 16);"></i>&nbsp;About </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills" routerLinkActive="list-item-active" style="color: black;font-weight: 800;"> <i class="fas fa-briefcase"  style="color: rgb(209, 212, 16);"></i>&nbsp;Skills </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="education" routerLinkActive="list-item-active" style="color: black;font-weight: 800;"><i class="fas fa-user-graduate"  style="color: rgb(209, 212, 16);"></i>&nbsp;Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"routerLink="projects" routerLinkActive="list-item-active" style="color: black;font-weight: 800;"><i class="fas fa-project-diagram"  style="color: rgb(209, 212, 16);"></i>&nbsp;Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="contact" routerLinkActive="list-item-active" style="color: black;font-weight: 800;"><i class="fas fa-tty"  style="color: rgb(209, 212, 16);"></i>&nbsp;&nbsp;Contact</a>
              </li>
          </ul>
        </div>
      </nav>
    </div>
</div>