 
.mat-divider {
    border-top-width: 2px;
    border-color: white;
  }
  .mat-list-item {
    color: #8d9fb9 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 2px;
  }
  .list-item-active {
    color: #f2f5f7 !important;
    background-color: rgb(8, 92, 172) !important;
    border-radius: 15px;
    
  }
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
.mat-list-item:hover{
    background-color: rgb(226, 220, 220);
    border-radius: 15px;
}
.container{
  border-radius: 10px;
}
 