

<div class="intro-page " id="home">
<div class="container-fluid" >
    
    <div class="row">
       <div class="col-sm-12">
            <div class="profile-image" style="margin-top: 80px;" data-aos="zoom-in">
                 
                <img src="assets/images/selfie.jpg" class="rounded-circle mx-auto d-block mt-3" alt="Cinque Terre" width="250px" height="250px">
            </div>
            <div class="h2 title" style="text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight:1000;color: rgb(245, 243, 243);">Atla Harish</div>
            <p class="category " style="text-align: center;font-weight: 900;color: rgba(233, 255, 30, 0.767);font-family: Georgia, 'Times New Roman', Times, serif;">Software Developer</p>
        </div>
    </div>
    <div class="social" style="text-align: center;size: 30px;"data-aos="fade-right" data-aos-duration="2000">
        <a href="https://www.facebook.com/" ><i class="fab fa-facebook" style="font-size: 40px;color: black;"></i>&nbsp;</a>
       <i class="fab fa-twitter" style="font-size: 40px;"></i>&nbsp; 
       <a href="https://www.linkedin.com/in/atla-harish-462889147/"><i class="fab fa-linkedin-in" style="font-size: 40px;color: black;"></i>&nbsp;</a>
        <a href="https://github.com/harishatla"><i class="fab fa-github" style="font-size: 40px;color: black;"></i>&nbsp;</a>
    </div>
</div>
 
</div>
 



